.iconContainer {
  position: relative;
  margin-right: 5px;
}

.iconContainer:hover {
  cursor: pointer;
}

.quantity {
  background: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -12px;
  right: -7px;
}
